<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{%url 'index'%}">Django</a></li>
                <li><a class="navbar-link"  href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="navbar-link" href="{%url 'basicapp:register'%}">Register</a></li>
                {%if user.is_authenticated%}
                <li><a class="navbar-link" href="{%url 'basicapp:logout'%}">Logout</a></li>
                {%else%}
                <li><a class="navbar-link" href="{%url 'basicapp:login'%}">login</a></li>
                {%endif%}
            </ul>
        </div>
    </nav>
    <div class="container">
    {%block a%}
    {%endblock%}
    </div>
</body>
</html>